@use 'variables';
@use 'animations';

// Global styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: color-mix(in hsl, variables.$color-primary, transparent 80%);
}

html {
  scrollbar-width: thin;
  scrollbar-color: variables.$color-primary transparent;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  background-color: variables.$color-background;
  color: variables.$color-foreground;
  font-size: variables.$font-base;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

p,
li {
  line-height: 1.5rem;
}

// Utilities
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @media screen and (min-width: variables.$screen-sm) {
    max-width: calc(variables.$screen-sm - 2rem);
  }

  @media screen and (min-width: variables.$screen-md) {
    max-width: calc(variables.$screen-md - 4rem);
  }

  @media screen and (min-width: variables.$screen-lg) {
    max-width: calc(variables.$screen-lg - 8rem);
  }

  @media screen and (min-width: variables.$screen-xl) {
    max-width: calc(variables.$screen-xl - 12rem);
  }

  @media screen and (min-width: variables.$screen-2xl) {
    max-width: calc(variables.$screen-2xl - 18rem);
  }
}

.font-bold {
  font-weight: 900;
}
.font-semibold {
  font-weight: 700;
}
.font-medium {
  font-weight: 600;
}

// Link button
.btn--link {
  color: inherit;
  text-decoration: none;
  transition: color 200ms ease;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: variables.$color-primary;
    bottom: 0;
    transition: height 200ms ease;
    z-index: -1;
  }

  &:hover {
    color: variables.$color-background;

    &::before {
      height: 100%;
    }
  }
}

// Page transitions
.page-enter-active,
.page-leave-active {
  transition: all 300ms ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(2rem);
}
