:root {
  --foreground: #0f0e0e;
  --accent: #064420;
  --background: #faf1e6;
  --background-overlay: #fff8f3;
}

.dark {
  --background: #1c1b22;
  --foreground: #ebecf1;
  --background-overlay: #1b1c25;
  --accent: #01fe9d;
}
