* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  color: $foreground;
  background-color: $background;
}
