* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #ef5350;
  --header-font: "Fira Mono", monospaces;
}

:root.light-mode {
  --text-0: #212121;
  --text-1: #666666;
  --bg-0: #ffffff;
  --bg-1: #e6e6e6;
}

:root.dark-mode {
  --text-0: #f0f0f0;
  --text-1: #ababab;
  --bg-0: #121212;
  --bg-1: #1f1f1f;
}

body {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: "Fira Sans", sans-serif;
  font-size: 1.1rem;
}

main {
  margin-top: 5rem;
}

h1 {
  font-family: var(--header-font);
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 1rem;
}

h2 {
  font-family: var(--header-font);
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

p {
  line-height: 25px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
