---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import morning from '@assets/images/hue.jpg';
import PaperPlane from '@assets/icons/PaperPlane.svg';
import Github from '@assets/icons/Github.svg';
import LinkedIn from '@assets/icons/LinkedIn.svg';

import Astrojs from '@assets/icons/Astro.svg';
import Vue from '@assets/icons/Vuejs.svg';
import NodeJS from '@assets/icons/Nodejs.svg';
import TypeScript from '@assets/icons/Typescript.svg';
import JavaScript from '@assets/icons/Javascript.svg';
import Fastify from '@assets/icons/Fastify.svg';
import Express from '@assets/icons/Express.svg';
import Prisma from '@assets/icons/Prisma.svg';
import Python from '@assets/icons/Python.svg';
import Nuxt from '@assets/icons/Nuxt.svg';
import Nestjs from '@assets/icons/Nestjs.svg';
import type { SvgComponent } from 'astro/types';

const techStacks: { name: string; icon: SvgComponent; fill?: string }[] = [
  { name: 'Vue.js', icon: Vue },
  { name: 'Nuxt.js', icon: Nuxt },
  { name: 'Astro', icon: Astrojs },
  { name: 'Node.js', icon: NodeJS },
  { name: 'Fastify', icon: Fastify, fill: 'currentColor' },
  { name: 'Express.js', icon: Express, fill: 'currentColor' },
  { name: 'NestJS', icon: Nestjs },
  { name: 'TypeScript', icon: TypeScript },
  { name: 'JavaScript', icon: JavaScript },
  { name: 'Prisma', icon: Prisma, fill: 'currentColor' },
  { name: 'Python', icon: Python }
];
---

<Layout title="About - Vo Quang Chien">
  <main class="about">
    <section class="about__content">
      <!-- Introduction -->
      <h1>Hi, I&apos;m Vo Quang Chien</h1>
      <p>
        My passion for building websites started when I was 17 years old. In 2024, I started my university journey, my
        main focus is web development. My goal is to become a proficient full-stack developer with expertise in both
        frontend and backend technologies. My favorite technologies are Vue.js, Astro, and Node.js.
      </p>

      <!-- Development Philosophy -->
      <h2>Development Philosophy</h2>
      <p>I believe in writing clean, maintainable code that solves real business problems. My approach emphasizes:</p>
      <ul>
        <li>
          <strong>Code quality:</strong> Writing code that is easy to read, understand, and maintain. Using strict TypeScript
          practices, comprehensive testing, and consistent code style through ESLint and Prettier.
        </li>
        <li>
          <strong>Problem-solving:</strong> Focusing on understanding the business requirements and delivering solutions
          that add real value. Prioritizing simplicity and efficiency in my code.
        </li>
        <li>
          <strong>Performance:</strong> Ensuring that my applications are fast and responsive. Optimizing code and leveraging
          modern web technologies to deliver the best user experience.
        </li>
      </ul>

      <!-- Achievements -->
      <h2>Personal Achievements</h2>
      <ul>
        <li>
          <strong>Open Source Contributor:</strong> Actively contributing to various open source projects including Neovim
          plugins, JavaScript libraries, and web development tools.
        </li>
        <li>
          <strong>The ICPC HUSC:</strong> Participated in the ICPC HUSC (Hue University of Science) and luckyly achieved
          the 3rd medal in 2024. At that time, I was just a freshman.
        </li>
      </ul>

      <!-- Interests -->
      <h2>Other Interests</h2>
      <p>When not coding, I spend my time for reading books, my family and exploring the outdoors.</p>
      <p>I&apos;m a big fan of martial arts and gym. I practice regularly to stay fit and healthy.</p>
      <p>I also follow various MMA events such as UFC, ONE Championship, LION Championship, GMA and more.</p>
    </section>

    <Image
      class="about__photo"
      src={morning}
      alt="Morning view"
      width="350"
      title="Morning view of Hue city, Vietnam"
      loading="eager"
    />

    <section class="about__links">
      <a
        href="https://github.com/2giosangmitom"
        aria-label="GitHub"
        target="_blank"
        rel="noopener noreferrer"
        title="GitHub"
        ><Github width="24" height="24" fill="currentColor" />
        Follow me on GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/2giosangmitom/"
        aria-label="LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
        title="LinkedIn"
        ><LinkedIn width="24" height="24" fill="currentColor" />
        Connect with me on LinkedIn
      </a>
      <a href="/contact" aria-label="Contact me" title="Contact me">
        <PaperPlane width="24" height="24" fill="currentColor" />
        Contact me
      </a>
    </section>
  </main>

  <section class="expertise">
    <h2 class="expertise__title">Technical Expertise</h2>
    <div class="expertise__stacks">
      <h4 class="expertise__stacks-heading">Core tech stacks</h4>
      <div class="expertise__icons">
        {
          techStacks.map((tech) => (
            <figure class="expertise__icon" title={tech.name}>
              <tech.icon width="48" height="48" fill={tech.fill} />
              <figcaption>{tech.name}</figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .about {
    display: grid;
    column-gap: 8rem;
    grid-template-areas:
      'content photo'
      'content links';
  }

  .about__content {
    grid-area: content;
  }
  .about__content h1,
  .about__content h2,
  .about__content ul {
    margin-bottom: 0.75rem;
  }
  .about__content h2,
  .about__content ul {
    margin-top: 1rem;
  }

  .about__photo {
    grid-area: photo;
    border-radius: 8px;
    transform: rotate(2deg);
    transition: transform 0.3s ease-in-out;
  }
  .about__photo:hover {
    transform: rotate(0deg) scale(1.05);
  }

  .about__links {
    grid-area: links;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .about__links a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-secondary);
    transition: color 0.2s ease-in-out;
  }
  .about__links a:hover {
    color: var(--color-accent);
  }

  .expertise {
    margin-top: 4rem;
  }
  .expertise__title {
    margin-bottom: 2.5rem;
  }
  .expertise__stacks {
    background-color: var(--color-bg-alt);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(67, 66, 66, 0.1);
  }
  .expertise__stacks-heading {
    text-transform: uppercase;
  }
  .expertise__icons {
    display: grid;
    gap: 4rem;
    margin-top: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
  }
  .expertise__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--color-lighter-text);
    transition: color 0.2s ease-in-out;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .expertise__icon svg {
    transition: transform 0.2s ease-in-out;
  }
  .expertise__icon svg:hover {
    transform: scale(1.15);
  }
</style>
