---
import Github from '@assets/icons/Github.svg';
import LinkedIn from '@assets/icons/LinkedIn.svg';
---

<footer>
  <p>&copy; {new Date().getFullYear()} Vo Quang Chien. All rights reserved.</p>
  <div class="social-links">
    <a
      href="https://github.com/2giosangmitom"
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
      title="GitHub"
      ><Github width="24" height="24" fill="currentColor" />
    </a>
    <a
      href="https://www.linkedin.com/in/2giosangmitom/"
      aria-label="LinkedIn"
      target="_blank"
      rel="noopener noreferrer"
      title="LinkedIn"
      ><LinkedIn width="24" height="24" fill="currentColor" />
    </a>
  </div>
</footer>

<style>
  footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--color-secondary);
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  .social-links a {
    color: var(--color-secondary);
    transition: color 0.2s ease-in-out;
  }
  .social-links a:hover {
    color: var(--color-accent);
  }
</style>
