@import 'tailwindcss';
@import '@nuxt/ui';

*::selection {
  background-color: color-mix(in oklab, var(--ui-color-primary-400) 50%, transparent);
}

:root {
  --ui-color-primary: var(--ui-color-primary-400);
}

.dark {
  --ui-color-primary: var(--ui-color-primary-300);
  --ui-bg: var(--ui-color-neutral-950);
  --ui-text: var(--ui-color-neutral-300);
}
