@import 'tailwindcss';
@import '@nuxt/ui';

*::selection {
  background-color: color-mix(in oklab, var(--ui-color-primary-400) 50%, transparent);
}

html {
  scrollbar-width: thin;
}

:root {
  --ui-color-primary: var(--ui-color-primary-500);
  --ui-bg: var(--ui-color-neutral-200);
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-dimmed: var(--ui-color-neutral-600);
}

.dark {
  --ui-color-primary: var(--ui-color-primary-300);
  --ui-bg: var(--ui-color-neutral-950);
  --ui-text: var(--ui-color-neutral-300);
  --ui-text-dimmed: var(--ui-color-neutral-400);
}
